<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.signet.onm.mapper.cpo.CpoMapper">


	<sql id="selectCpoListfrom">
		FROM ONM.CMN_M_CPO
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="custComStat != null and custComStat.length >0">
				<foreach collection="map" item="value" open="(" close=")" separator=",">
			 #{value}
		 </foreach>
			</if>
			<if test="custComNm != null and custComNm !=''">
        		AND cust_com_nm = #{custComNm}
    		</if>
			<if test="custComId != null and custComId !=''">
        		AND cust_com_id = #{custComId}
    		</if>
			<if test="mgrNm != null and mgrNm !=''">
        		AND mgr_nm = #{mgrNm}
    		</if>
		</trim>
	</sql>

	<!-- CPO 리스트 조회(그리드) -->
	<select id="selectCpoList" parameterType="map" resultType="com.sk.signet.onm.common.db.ResultMap">
		SELECT 
			cpo_id
			, cust_com_id
			, cust_com_nm
			, biz_num
			, sect_cd
			, ent_cd
			, hd_zipcd
			, hd_addr
			, hd_addr_dtl
			, cust_com_stat
			, mgr_nm
			, dept_nm
			, dept_rank
			, tel_num
			, hp_num
			, email
			, zipcd
			, addr
			, addr_dtl
			, signet_mgr_nm
			, signet_dept_nm
			, signet_dept_rank
			, signet_tel_num
			, signet_hp_num
			, signet_email
			, dboard_tpe_tp
			, cont
			, reg_id
			, reg_dt
			, mod_id
			, mod_dt
		<include refid="selectCpoListfrom" />
	</select>

	<!-- 그리드 row 갯수 -->
	<select id="selectCpoListCount" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		<include refid="selectCpoListfrom" />
	</select>


	<!-- 플랫폼 고객사(CPO) 등록 -->
	<insert id="insertCpo" parameterType="map">
	INSERT INTO ONM.CMN_M_CPO
	(
	  cpo_id
	, cust_com_nm
	, cust_com_id
	, biz_num
	, sect_cd
	, ent_cd
	, hd_zipcd
	, hd_addr
	, hd_addr_dtl
	, cust_com_stat
	, mgr_nm
	, dept_nm
	, dept_rank
	, tel_num
	, hp_num
	, email
	, zipcd
	, addr
	, addr_dtl
	, signet_mgr_nm
	, signet_dept_nm
	, signet_dept_rank
	, signet_tel_num
	, signet_hp_num
	, signet_email
	, dboard_tpe_tp
	, cont
	, reg_id
	, reg_dt
	, mod_id
	, mod_dt
	)
VALUES
	(
	  ONM.FN_GET_DOMAIN_SEQ('CPO00')
	, #{custComNm}
	, #{custComId}
	, #{bizNum}
	, #{sectCd}
	, #{entCd}
	, #{hdZipcd}
	, #{hdAddr}
	, #{hdAddrDtl}
	, 0
	, #{mgrNm}
	, #{deptNm}
	, #{deptRank}
	, #{telNum}
	, #{hpNum}
	, #{email}
	, #{Zipcd}
	, #{Addr}
	, #{AddrDtl}
	, #{signetMgrNm}
	, #{signetDeptNm}
	, #{signetDeptRank}
	, #{signetTelNum}
	, #{signetHpNum}
	, #{signetEmail}
	, 0
	, #{cont}
	, #{regId}
	, now()
	, #{regId}
	, now()
	)
	</insert>

	<!-- 개인정보 마스킹제거 요청 -->
	<select id="removeMasking" parameterType="Map" resultType="com.sk.signet.onm.common.db.ResultMap"></select>

	<insert id="insertLoginHist" parameterType="com.sk.signet.onm.common.db.ResultMap"></insert>


</mapper>