<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.signet.onm.mapper.cpo.CpoMapper">

	<sql id="selectCpoDefaltColumn">
		SELECT
		  CPO_ID
		, CUST_COM_ID
		, CUST_COM_NM
		, BIZ_NUM
		, SECT_CD
		, ENT_CD
		, HD_ZIPCD
		, HD_ADDR
		, HD_ADDR_DTL
		, CUST_COM_STAT
		, MGR_NM
		, DEPT_NM
		, DEPT_RANK
		, TEL_NUM
		, HP_NUM
		, EMAIL
		, ZIPCD
		, ADDR
		, ADDR_DTL
		, SIGNET_MGR_NM
		, SIGNET_DEPT_NM
		, SIGNET_DEPT_RANK
		, SIGNET_TEL_NUM
		, SIGNET_HP_NUM
		, SIGNET_EMAIL
		, DBOARD_TPE_TP
		, CONT
		, REG_ID
		, REG_DT
		, MOD_ID
		, MOD_DT
	</sql>

	<sql id="selectCpoListfrom">
		FROM CMN_M_CPO
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="custComStat != null and custComStat.size() > 0">
				CUST_COM_STAT IN
				<foreach collection="custComStat" item="item" open="(" close=")" separator=",">
			 #{item}
		 </foreach>
			</if>
			<if test="custComNm != null and custComNm !=''">
        		AND CUST_COM_NM = #{custComNm}
    		</if>
			<if test="custComId != null and custComId !=''">
        		AND CUST_COM_ID = #{custComId}
    		</if>
			<if test="mgrNm != null and mgrNm !=''">
        		AND MGR_NM = #{mgrNm}
    		</if>
			<if test="cpoId != null and cpoId !=''">
        		AND CPO_ID = #{cpoId}
    		</if>
		</trim>
	</sql>

	<!-- CPO 리스트 조회(그리드) -->
	<select id="selectCpoList" parameterType="map" resultType="com.sk.signet.onm.common.db.ResultMap">
		<include refid="selectCpoDefaltColumn" />
		<include refid="selectCpoListfrom" />
	</select>

	<!-- 그리드 row 갯수 -->
	<select id="selectCpoListCount" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		<include refid="selectCpoListfrom" />
	</select>


	<!-- 플랫폼 고객사(CPO) 등록 -->
	<insert id="insertCpo" parameterType="map">
	INSERT INTO ONM.CMN_M_CPO
	(
		  CPO_ID
		, CUST_COM_NM
		, CUST_COM_ID
		, BIZ_NUM
		, SECT_CD
		, ENT_CD
		, HD_ZIPCD
		, HD_ADDR
		, HD_ADDR_DTL
		, CUST_COM_STAT
		, MGR_NM
		, DEPT_NM
		, DEPT_RANK
		, TEL_NUM
		, HP_NUM
		, EMAIL
		, ZIPCD
		, ADDR
		, ADDR_DTL
		, SIGNET_MGR_NM
		, SIGNET_DEPT_NM
		, SIGNET_DEPT_RANK
		, SIGNET_TEL_NUM
		, SIGNET_HP_NUM
		, SIGNET_EMAIL
		, DBOARD_TPE_TP
		, CONT
		, REG_ID
		, REG_DT
		, MOD_ID
		, MOD_DT
	)
VALUES
	(
	  ONM.FN_GET_DOMAIN_SEQ('CPO00')
	, #{custComNm}
	, #{custComId}
	, #{bizNum}
	, #{sectCd}
	, #{entCd}
	, #{hdZipcd}
	, #{hdAddr}
	, #{hdAddrDtl}
	, 0
	, #{mgrNm}
	, #{deptNm}
	, #{deptRank}
	, #{telNum}
	, #{hpNum}
	, #{email}
	, #{Zipcd}
	, #{Addr}
	, #{AddrDtl}
	, #{signetMgrNm}
	, #{signetDeptNm}
	, #{signetDeptRank}
	, #{signetTelNum}
	, #{signetHpNum}
	, #{signetEmail}
	, 0
	, #{cont}
	, #{regId}
	, now()
	, #{regId}
	, now()
	)
	</insert>

	<!-- CPO 상세보기 -->
	<select id="selectCpo" parameterType="Map" resultType="com.sk.signet.onm.common.db.ResultMap">
		<include refid="selectCpoDefaltColumn" />
		<include refid="selectCpoListfrom" />
	</select>

	<update id="updateCpo" parameterType="Map">
		UPDATE CMN_M_CPO
			SET 
			, CUST_COM_NM=#{custComNm}
			, CUST_COM_ID=#{custComId}
			, BIZ_NUM=#{bizNum}
			, SECT_CD=#{sectCd}
			, ENT_CD=#{entCd}
			, HD_ZIPCD=#{hdZipcd}
			, HD_ADDR=#{hdAddr}
			, HD_ADDR_DTL=#{hdAddrDtl}
			, CUST_COM_STAT=#{custComStat}
			, MGR_NM=#{mgrNm}
			, DEPT_NM=#{deptNm}
			, DEPT_RANK=#{deptRank}
			, TEL_NUM=#{telNum}
			, HP_NUM=#{hpNum}
			, EMAIL=#{email}
			, ZIPCD=#{Zipcd}
			, ADDR=#{Addr}
			, ADDR_DTL=#{AddrDtl}
			, SIGNET_MGR_NM=#{signetMgrNm}
			, SIGNET_DEPT_NM=#{signetDeptNm}
			, SIGNET_DEPT_RANK=#{signetDeptRank}
			, SIGNET_TEL_NUM=#{signetTelNum}
			, SIGNET_HP_NUM=#{signetHpNum}
			, SIGNET_EMAIL=#{signetEmail}
			, DBOARD_TPE_TP=#{dboardTpeTp}
			, CONT=#{cont}
			, MOD_ID=#{modId}
			, MOD_DT=NOW()
		WHERE 
			CPO_ID=#{cpoId};

	</update>


</mapper>