<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sk.signet.onm.mapper.code.CodeMapper">


<select id="selectCommonMainCodeList" parameterType="map" resultType="com.sk.signet.onm.common.db.ResultMap"> 
	SELECT 
	    T1.ROWNUMBER,
		T1.MAIN_CLASS_CD,
		T1.CMN_CD_TP,
		T1.MAIN_CLASS_NM,
		T1.SEQ,
		T1.DESCR,
		T1.USE_YN,
		T1.REG_ID,
		T1.REG_DT,
		T1.MOD_ID,
		T1.MOD_DT
	FROM (
	      SELECT 
	         @ROWNUM:=@ROWNUM+1 AS ROWNUMBER,
	         T.*
	      FROM CMN_M_CD T, ( SELECT @ROWNUM := 0) TEMP
	      <trim prefix="WHERE" prefixOverrides="AND|OR">
	        <if test="searchText != null and searchText != '' ">
	         MAIN_CLASS_CD LIKE CONCAT('%',#{searchText} , '%') OR MAIN_CLASS_NM LIKE CONCAT('%',#{searchText} , '%')
	        </if>
	      </trim>
	      ORDER BY T.SEQ ASC
	      )T1  
	ORDER BY T1.ROWNUMBER  DESC   


</select>
<select id="selectCommonChildCodeList" parameterType="map" resultType="com.sk.signet.onm.common.db.ResultMap">

	SELECT 
	    T1.ROWNUMBER,
		T1.MAIN_CLASS_CD,
		T1.MDL_CLASS_CD,
		T1.MDL_CLASS_NM,
		T1.DESRC,
		T1.RELAT_CD_1,
		T1.RELAT_CD_2,
		T1.RELAT_CD_3,
		T1.USE_YN,
		T1.REG_ID,
		T1.REG_DT,
		T1.MOD_ID,
		T1.MOD_DT 
	FROM (
	      SELECT 
	         @ROWNUM:=@ROWNUM+1 AS ROWNUMBER,
	         T.*
	      FROM CMN_M_CD_DTL T, ( SELECT @ROWNUM := 0) TEMP
	      WHERE MAIN_CLASS_CD = #{mainClassCd}
	      )T1  
	      
     <trim prefix="WHERE" prefixOverrides="AND|OR">
       <if test="searchText != null and searchText != '' ">
         MDL_CLASS_CD LIKE CONCAT('%',#{searchText} , '%') OR MDL_CLASS_NM LIKE CONCAT('%',#{searchText} , '%')
       </if>
     </trim>	      
	ORDER BY T1.ROWNUMBER  DESC     

</select>


<select id="selectCommonMainCodeListCount" parameterType="map" resultType="int">

	SELECT 
		COUNT(MAIN_CLASS_CD)
	FROM  CMN_M_CD

</select>

<select id="selectCommonChildCodeListCount" parameterType="map" resultType="int">

	SELECT 
		COUNT(MAIN_CLASS_CD)
	FROM  CMN_M_CD_DTL

</select>


<insert id="insertCommonMainCode" parameterType="map">

	INSERT INTO CMN_M_CD 
	 (
	    MAIN_CLASS_CD,
	    CMN_CD_TP, 
	    MAIN_CLASS_NM, 
	    SEQ, 
	    DESCR, 
	    USE_YN, 
	    REG_ID, 
	    REG_DT, 
	    MOD_ID,
	    MOD_DT
	  )
	 VALUES
	  (  
	     #{mainClassCd},
	     0,
	     #{mainClassNm},
	     NULL,
	     #{descr},
	     #{useYn},
	     #{regId},
	     NOW(),
	     #{regId},
	     NOW()
	  );
</insert>

<insert id="insertCommonChildCode" parameterType="map">

	INSERT INTO ONM.CMN_M_CD_DTL
	(
	   main_class_cd,
       mdl_class_cd,
       mdl_class_nm,
       desrc,
       relat_cd_1,
       relat_cd_2,
       relat_cd_3,
       use_yn, 
       reg_id, 
       reg_dt,
       mod_id,
       mod_dt
	 )
	 VALUES
	 (  
	    #{mainClassCd},
	    #{mdlClassCd},
	    #{mdlClassNm},
	    #{descr},
	    #{relatCd1},
	    #{relatCd2},
	    #{relatCd3},
	    #{useYn},
	    #{regId},
	    NOW(),
	    #{regId},
	    NOW()
	  )
</insert>


<update id="updateCommonMainCode" parameterType="map">
	UPDATE CMN_M_CD
	SET
	  <!-- cmn_cd_tp=0, -->
	  <!-- seq=NULL, -->
	  MAIN_CLASS_NM = #{mainClassNm}, 
	<!--   MAIN_CLASS_CD = #{mainClassCd}, -->
	  DESCR         = #{descr},
	  USE_YN        = #{useYn},
	  MOD_ID        = #{modId},
	  MOD_DT        = NOW()
	WHERE MAIN_CLASS_CD= #{mainClassCd}

</update>

<update id="updateCommonChildCode" parameterType="map">
	UPDATE CMN_M_CD_DTL
	 SET 
		 MDL_CLASS_NM = #{mdlClassNm},
		 MDL_CLASS_CD  = #{mdlClassCd},
		 DESRC        = #{desrc}, 
		 RELAT_CD_1   = #{relatCd1},
		 RELAT_CD_2   = #{relatCd2}, 
		 RELAT_CD_3   = #{relatCd3}, 
		 USE_YN       = #{useYn},
		 MOD_ID       = #{modId},
		 MOD_DT       = NOW()
     WHERE MAIN_CLASS_CD = #{mainClassCd} 
     AND   MDL_CLASS_CD  = #{beforeMdlClassCd}
</update>


<update id="othUpdateCommonChildCode" parameterType="map">
	UPDATE CMN_M_CD_DTL
	 SET  MAIN_CLASS_CD = #{mainClassCd} 
    WHERE MAIN_CLASS_CD = #{beforeMainClassCd} 
</update>

</mapper>